{% extends 'base.html' %} {% block content %}
<div class="wrap card mx-5 mt-5">
  <div class="card-body">
    {% if request.session.pengguna %} 
    {% if not request.session.pengguna.is_staf %}
    <div class="alert alert-danger" role="alert">
      Kamu tidak dapat membuat item!
    </div>
    {% else %}
    <h5 class="card-title">Form Item</h5>
    <div>
      <form>
        <div class="mb-3">
          <label for="jumlahItem" class="form-label">Kode Item</label>
          <input type="text" class="form-control" id="kode" />
        </div>
        <div class="mb-3">
          <label for="jumlahItem" class="form-label">Nama Item</label>
          <input type="text" class="form-control" id="nama" />
        </div>
        <button type="submit" class="btn btn-primary" id="btn-create">
          Create
        </button>
      </form>
    </div>
    {% endif %}
    {% else %}
    <div class="alert alert-danger" role="alert">
      Anda harus login terlebih dahulu!
    </div>
    {% endif %}
  </div>
</div>
{% endblock %} {% block js %}
<script>
  $("#btn-create").on("click", async (e) => {
    e.preventDefault();
    const f = await fetch("/laundry/item/create/post", {
      method: "POST",
      headers: {
        Accept: "application/json",
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        kode: $("#kode").val(),
        nama: $("#nama").val(),
      }),
    });

    const success = (await f.json()).success;
    if (success) {
      Toastify({
        text: "Sukses dibuat!",
        duration: 3000,
      }).showToast();
      window.location.href = "/laundry/item";
    } else {
      Toastify({
        text: "Gagal dibuat!",
        duration: 3000,
        gravity: "top", // `top` or `bottom`
        position: "right", // `left`, `center` or `right`
        stopOnFocus: true, // Prevents dismissing of toast on hover
      }).showToast();
    }
  });
</script>
{% endblock %}
