{% extends 'base.html' %}

{% block content %}
<div class="wrap card mx-5 mt-5">
<div class="card-body">
    {% if request.session.pengguna %}
        {% if not request.session.pengguna.is_staf %}
        <div class="alert alert-danger" role="alert">
            Kamu tidak dapat membuat daftar laundry!
          </div>
        {% else %}
        <h5 class="card-title">Create Daftar Laundry</h5>
        <div>
            <form method="POST" action="/laundry/daftar/create">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <select class="form-select" id="email" name="email">
                      {% for d in data %}
                      <option>{{d.email}}</option>
                      {% endfor %}
                  </select>
                </div>
                <div class="mb-3">
                    <label for="tanggal" class="form-label">Tanggal Transaksi</label>
                    <select class="form-select" id="tanggal" name="tanggal">
                    </select>
                </div>
                <div class="mb-3">
                  <label for="jumlahItem" class="form-label">Jumlah Item</label>
                  <input type="number" class="form-control" id="jumlahItem" name="jumlahItem">
                </div>
                <div class="mb-3">
                    <label for="kodeitem" class="col-form-label">Kode Item:</label>
                    <select id="kodeitem" name="kodeitem" class="form-select">
                        {% for i in items %}
                        <option>{{i.kode}}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-primary" id="btn-create">Create</button>
              </form>
        </div>
        {% endif %}
    {% else %}
    <div class="alert alert-danger" role="alert">
        Anda harus login terlebih dahulu!
      </div>
    {% endif %}
</div>
  </div>
{% endblock %}

{% block js %}
    <script>
        $('#email').change(function() {
            $('#tanggal').empty();
            $.post('/laundry/daftar/trx', JSON.stringify({email: this.value}), function(res) {
                res.data.forEach((val, idx) => {
                    $('#tanggal').append($('<option>', {
                        value: val.tanggal,
                        text: val.tanggal,
                    }))
                })
            })
        })

    </script>
{% endblock %}
