{% extends 'base.html' %}

{% block content %}
<div class="wrap card mx-5 mt-5">
<div class="card-body">
    {% if request.session.pengguna %}
        <h5 class="card-title">Daftar Item</h5>
        <div id="table-wrapper">
            <table id="rud-table">
                <thead>
                    <th>Kode</th>
                    <th>Nama</th>
                </thead>
            </table>
        </div>
    {% else %}
    <div class="alert alert-danger" role="alert">
        Anda harus login terlebih dahulu!
      </div>
    {% endif %}
</div>

  </div>
{% endblock %}

{% block js %}
<script>

    async function initialize() {

      let dataTable = new simpleDatatables.DataTable("#rud-table");

      const data = await(await fetch("/laundry/item/data")).json();

      const json = JSON.stringify(data.data);
      const withStrings = JSON.parse(json, (key, val) => (
        typeof val !== 'object' && val !== null ? String(val) : val
      ));

        dataTable.insert({
          headings: [
            "Kode",
            "Nama"
          ],
          data: withStrings.map(v => Object.values(v))
        })
    } 

    initialize()

</script>
{% endblock %}