{% extends 'base.html' %} {% block content %}
<div class="wrap card mx-5 mt-5">
  <div class="card-body">
    {% if request.session.pengguna %} {% if request.session.pengguna.is_kurir %}
    <div class="alert alert-danger" role="alert">
      Kurir tidak dapat melihat list ini!
    </div>
    {% else %}
    <h5 class="card-title">Daftar Laundry</h5>
    <div id="table-wrapper">
      <table id="rud-table">
        <thead>
          <th>Email</th>
          <th data-type="date" data-format="yyyy-MM-dd HH:mm:ss.ffffff">
            Tanggal
          </th>
          <th>Nomor Urut</th>
          <th>Jumlah Item</th>
          <th>Kode Item</th>
          {% if request.session.pengguna.is_staf %}
          <th>Action</th>
          {% endif %}
        </thead>
      </table>
    </div>
    {% endif %} {% else %}
    <div class="alert alert-danger" role="alert">
      Anda harus login terlebih dahulu!
    </div>
    {% endif %}
  </div>

  <div
    class="modal fade"
    id="modalForm"
    tabindex="-1"
    aria-labelledby="modalFormLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalFormLabel">Update Daftar</h5>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="email" class="col-form-label">Email:</label>
              <input type="text" class="form-control" id="email" disabled />
            </div>
            <div class="mb-3">
              <label for="tanggal" class="col-form-label">Tanggal:</label>
              <input
                type="datetime"
                class="form-control"
                id="tanggal"
                disabled
              />
            </div>
            <div class="mb-3">
              <label for="nourut" class="col-form-label">No Urut:</label>
              <input type="text" class="form-control" id="nourut" disabled />
            </div>
            <div class="mb-3">
              <label for="nitem" class="col-form-label">Jumlah Item:</label>
              <input type="text" class="form-control" id="nitem" />
            </div>
            <div class="mb-3">
              <label for="kodeitem" class="col-form-label">Kode Item:</label>
              <select id="kodeitem" class="form-select">
                <!-- <option value="4932">4932</option>
                <option value="4502">4502</option>
                <option value="7371">7371</option>
                <option value="382">382</option>
                <option value="2420">2420</option>
                <option value="7355">7355</option>
                <option value="162">162</option>
                <option value="2016">2016</option>
                <option value="7716">7716</option>
                <option value="3901">3901</option> -->
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-primary"
            id="btn-update"
            data-bs-dismiss="modal"
          >
            Update
          </button>
        </div>
      </div>
    </div>
  </div>
  {% endblock %} {% block js %}
  <script>
    const staff = "{{request.session.pengguna.is_staf}}";
    const email = "{{request.session.pengguna.email}}";
    async function initialize() {
      let columns = [
        {
          select: 1,
          type: "date",
        },
      ];

      if (staff == "True") {
        columns.push({
          select: 5,
          render: function (data, cell, row) {
            return `
                      <button type='button' class='btn btn-outline-secondary btn-update' data-row='${row.dataIndex}' data-bs-toggle="modal" data-bs-target="#modalForm">Update</button>
                      <button type='button' class='btn btn-outline-danger btn-delete' data-row='${row.dataIndex}'>Delete</button>
                      `;
          },
        });
      }

      let dataTable = new simpleDatatables.DataTable("#rud-table", {
        columns,
      });

      let data = await (await fetch("/laundry/daftar/data")).json();

      const json = JSON.stringify(data.data);
      const withStrings = JSON.parse(json, (key, val) =>
        typeof val !== "object" && val !== null ? String(val) : val
      );

      dataTable.insert({
        headings: [
          "Email",
          "Tanggal",
          "Nomor Urut",
          "Jumlah Item",
          "Kode Item",
        ],
        data: withStrings.map((v) => Object.values(v)),
      });

      dataTable.update();

      const k = await (await fetch("/laundry/item/data")).json();

      k.data
        .map((v) => v.kode)
        .forEach((t) => {
          const opt = document.createElement("option");
          opt.text = t;
          opt.value = t;
          document.getElementById("kodeitem").add(opt);
        });

      let modalForm = new bootstrap.Modal(document.getElementById("modalForm"));

      function bind() {
        $(".btn-update").unbind("click");
        $(".btn-delete").unbind("click");
        $(".btn-update").on("click", async (e) => {
          const idx = $(e.target).parents("tr")[0].dataIndex;

          const [email, tanggal, nourut, nitem, kodeitem] = [].slice
            .call(dataTable.activeRows[idx].cells)
            .map(function (cell) {
              return cell.textContent;
            });

          $("#email").val(email);
          $("#tanggal").val(tanggal);
          $("#nourut").val(nourut);
          $("#nitem").val(nitem);
          $("#kodeitem").val(kodeitem);
          modalForm.show();
          bind(); // readd listener
        });

        $(".btn-delete").on("click", async (e) => {
          const idx = $(e.target).parents("tr")[0].dataIndex;
          const [email, tanggal, nourut, nitem, kodeitem] = [].slice
            .call(dataTable.activeRows[idx].cells)
            .map(function (cell) {
              return cell.textContent;
            });
          const f = await fetch("/laundry/daftar/delete", {
            method: "POST",
            headers: {
              Accept: "application/json",
              "Content-Type": "application/json",
            },
            body: JSON.stringify({
              email,
              tanggal,
              nourut,
            }),
          });

          const success = (await f.json()).success;

          if (success) {
            dataTable.rows().remove($(e.target).parents("tr")[0].dataIndex);
            Toastify({
              text: "Sukses dihapus!",
              duration: 3000,
              gravity: "top", // `top` or `bottom`
              position: "right", // `left`, `center` or `right`
              backgroundColor: "linear-gradient(to right, #00b09b, #96c93d)",
              stopOnFocus: true, // Prevents dismissing of toast on hover
            }).showToast();
            bind(); // readd listener
          } else {
            Toastify({
              text: "Gagal dihapus!",
              duration: 3000,
              gravity: "top", // `top` or `bottom`
              position: "right", // `left`, `center` or `right`
              stopOnFocus: true, // Prevents dismissing of toast on hover
            }).showToast();
          }
        });
      }

      bind();

      dataTable.on("datatable.page", function () {
        bind();
      });

      dataTable.on("datatable.search", function () {
        bind();
      });

      dataTable.on("datatable.perpage", function () {
        bind();
      });

      dataTable.on("datatable.sort", function () {
        bind();
      });

      $("#btn-update").on("click", async (e) => {
        const f = await fetch("/laundry/daftar/update", {
          method: "POST",
          headers: {
            Accept: "application/json",
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            email: $("#email").val(),
            tanggal: $("#tanggal").val(),
            nourut: $("#nourut").val(),
            kodeitem: $("#kodeitem").val(),
            nitem: $("#nitem").val(),
          }),
        });

        const success = (await f.json()).success;

        if (success) {
          Toastify({
            text: "Sukses diupdate!",
            duration: 3000,
            gravity: "top", // `top` or `bottom`
            position: "right", // `left`, `center` or `right`
            backgroundColor: "linear-gradient(to right, #00b09b, #96c93d)",
            stopOnFocus: true, // Prevents dismissing of toast on hover
          }).showToast();
          window.location.reload();
        } else {
          Toastify({
            text: "Gagal diupdate!",
            duration: 3000,
            gravity: "top", // `top` or `bottom`
            position: "right", // `left`, `center` or `right`
            stopOnFocus: true, // Prevents dismissing of toast on hover
          }).showToast();
        }
        modalForm.hide();
      });

      const m = document.getElementById("modalForm");

      m.addEventListener("show.bs.modal", (e) => {
        const idx = e.relatedTarget.dataset.row;
        const [email, date, nourut, nitem, kodeitem] = [].slice
          .call(dataTable.activeRows[idx].cells)
          .map(function (cell) {
            return cell.textContent;
          });

        $("#email").val(email);
        $("#tanggal").val(date);
        $("#nourut").val(nourut);
        $("#nitem").val(nitem);
        $("#kodeitem").val(kodeitem);
      });
    }

    initialize();
  </script>
  {% endblock %}
</div>
