{% extends 'base.html' %}

{% block content %}
<h1> Form Login </h1>
<form method="POST">
    {% csrf_token %}
    {{ input_form.as_p }}
    <input type="submit" value="Login" class="btn btn-warning">
</form>
{{message}}
{% endblock %}