{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<div class="card position-absolute top-50 start-50 translate-middle">
    <div class="card-body px-5 py-4">
        <h2>Login Form</h2>
        {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
        {% endif %}
        <form method="post" action="{% url 'login' %}" class="d-flex flex-column justify-content-center align-items-center">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="Login" class="btn btn-primary mt-2">
            <input type="hidden" name="next" value="{{ next }}">
            </form>
    </div>
</div>

{% endblock %}