{% extends "base.html" %}

{% block content %}

<div class="container" style="width: 100%">
    <h2>FORM PENDAFTARAN STAFF</h2>
    <form>
        <div class="form-group">
            <label>Email address</label>
            <input type="email" class="form-control" >
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" >
        </div>
        <div class="form-group">
            <label>Nama Lengkap</label>
            <input type="text" class="form-control" >
        </div>
        <div class="form-group">
            <label>Nomor Telepon</label>
            <input type="text" class="form-control" >
        </div>
        <div class="form-group">
            <label>Jenis Kelamin</label>
            <input type="text" class="form-control" >
        </div>
        <div class="form-group">
            <label>Alamat</label>
            <input type="textarea" class="form-control" >
        </div>
        <div class="form-group">
            <label>NPWP</label>
            <input type="text" class="form-control" >
        </div>
        <div class="form-group">
            <label>Nomor Rekening</label>
            <input type="text" class="form-control" >
        </div>
        <div class="form-group">
            <label>Nama Bank</label>
            <input type="text" class="form-control" >
        </div>
        <div class="form-group">
            <label>Kantor Cabang</label>
            <input type="text" class="form-control" >
        </div>
        <a href="/" class="btn btn-primary" onclick="successPrompt()">Submit</a>
    </form>
</div>

<script>
    function successPrompt() {
        alert('Registrasi Berhasil!')
    }
</script>

{% endblock %}
