{% extends 'base.html' %}

{% block content %}
<h1> Add Testimoni </h1>
<form method="POST">
    {% csrf_token %}
    {{ input_form.as_p }}
    <input type="submit" value="Add" class="btn btn-warning">
</form>
{{message}}
{% endblock %}

{% block js %}
<script>
    $(document).ready(function(){
        var dateChoices = $('#id_tanggal');
        var emailChoices = $('#id_email');

        var setDateChoices = function(email){
            $.ajax({
                url: '/testimoni/datechoices',
                data:{'email' : email},
                dataType: 'json',
                success: function(response){
                    var dates = response['dates'];
                    for(date of dates){
                        dateChoices.append(
                            "<option value='" + date[0] + "'>" + date[1] +"</option>"
                        );
                    }
                }
            });
        }

        var emailc = emailChoices.val();
        dateChoices.empty();
        setDateChoices(emailc);
    
        emailChoices.change(function(){
            var emailc = emailChoices.val();
            dateChoices.empty();
            setDateChoices(emailc);
        })
    })
</script>
{% endblock %}