{% extends 'base.html' %}

{% block content %}
<h1> Testimoni </h1>
{{request.COOKIES.message}}
<table class="table">
    <thead>
      <tr>
        {% if not isPelanggan %}
        <th scope="col">Email</th>
        {% endif %}
        <th scope="col">Tanggal Transaksi</th>
        <th scope="col">Tanggal Testimoni</th>
        <th scope="col">Status</th>
        <th scope="col">Rating</th>
        {% if isPelanggan %}
        <th scope="col">Action</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
    {% for data in datas %}
      <tr>
        {% if not isPelanggan %}
        <td scope="col">{{data.0}}</td>
        {% endif %}
        <td scope="col">{{data.1}}</td>
        <td scope="col">{{data.2}}</td>
        <td scope="col">{{data.3}}</td>
        <td scope="col">{{data.4}}</td>
        {% if isPelanggan %}
        <td scope="col">
          <a href="{% url 'testimoni:update' email=data.0 tanggal_testimoni=data.2 tanggal_transaksi=data.1%}"><button>Update</button></a>
          <a href="{% url 'testimoni:deletetestimoni' page=cp email=data.0 tanggal_testimoni=data.2 tanggal_transaksi=data.1%}"><button>Hapus</button></a>
        </td>
        {% endif %}
      </tr>
    {% endfor %}
    </tbody>
</table>
<div>
  {% if isPelanggan %}
    {% if pp >= 0 %}<a href="{% url 'testimoni:index' page=pp %}"><button> &lt </button></a>{% endif%}
    Page {{cp}}
    {% if datas|length == 10 %} <a href="{% url 'testimoni:index' page=np %}"><button> &gt </button></a> {% endif %}
  {% else %}
    {% if pp >= 0 %}<a href="{% url 'testimoni:other' page=pp %}"><button> &lt </button></a>{% endif%}
    Page {{cp}}
    {% if datas|length == 10 %} <a href="{% url 'testimoni:other' page=np %}"><button> &gt </button></a> {% endif %}
  {% endif %}
</div>
{% endblock %}