{% extends "base.html" %}

{% block content %}

<div class="container" style="width: 100%">
    <h2>FORM CREATE TRANSAKSI TOPUP DPAY</h2>
    <form method="POST" action="/topup/create/">
        {% csrf_token %}
        <div class="form-group">
            <label>Email address</label>
            <select class="form-control" id="email" name="email">
                {% for p in pelanggan %}
                <option>{{p.email}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label>Nominal</label>
            <input type="number" id="nominal" name="nominal" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{% endblock %}
