{% extends "base.html" %}

{% block content %}

<div class="container" style="width: 100%">
    <h2>List Topup DPAY</h2>
    {% if is_authenticated %}
    {% if pengguna.is_staf %}
    <a href="create" class="btn btn-primary">+ Tambah</a>
    {% endif %}
    <table id="topup-tbl" class="table table-hover" style="width: 70%; align-self: center">
        <tr>
            <td>Email</td>
            <td>Tanggal</td>
            <td>Nominal</td>
            {% if pengguna.is_staf or pengguna.is_pelanggan %}
            <td>Actions</td>
            {% endif %}
        </tr>
        {% for data in data %}
        <tr id="{{data.email}}">
            <td>{{data.email}}</td>
            <td>{{data.tanggal|date:'Y-m-d'}}</td>
            <td>{{data.nominal}}</td>
            {% if pengguna.is_staf or pengguna.is_pelanggan %}
            <td>
                {% if data.diff < 60 %}
                <a class="btn btn-primary" href="update?email={{data.email}}&&tanggal={{data.tanggal|date:'Y-m-d'}}&&nominal={{data.nominal}}&&diff={{data.diff}}">Update</a>
                {% else %}
                <a class="btn btn-primary disabled" href="#">Update</a>
                {% endif %}
                <a class="btn btn-danger" href="delete?email={{data.email}}&&tanggal={{data.tanggal|date:'Y-m-d'}}&&nominal={{data.nominal}}">Delete</a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    {% if not is_authenticated %}
    <div class="alert alert-danger" role="alert">
        Anda harus login untuk melihat menu ini!
    </div>
    {% endif %}
</div>

{% endblock %}

{% block js %}
<script>
    let dataTable = new simpleDatatables.DataTable("#topup-tbl");
</script>
{% endblock %}
