{% extends "base.html" %}

{% block content %}

<div class="container" style="width: 100%">
    <h2>FORM UPDATE TRANSAKSI TOPUP DPAY</h2>
    <form method="POST" action="/topup/update/">
        {% csrf_token %}
        <div class="form-group">
            <label>Email address</label>
            <input type="email" class="form-control" id="email" name="email" value="{{email}}" readonly>
        </div>
        <div class="form-group">
            <label>Tanggal</label>
            <input type="text" class="form-control" id="tanggal" name="tanggal" value="{{tanggal}}" readonly>
        </div>
        <div class="form-group">
            <label>Nominal</label>
            <input type="number" class="form-control" id="nominal" name="nominal" value="{{nominal}}">
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>

{% endblock %}
